@model ProdutoStoreApi.AplicacaoServico.AppModels.ProdutoViewModel

@{
    ViewData["Title"] = "Index";
}


<h4>Cadastrar Produto</h4>
<hr />
@if(Model.ResultadoValidacao != null)
{
    <div class="div-erro">
        @foreach (var item in Model.ResultadoValidacao.Errors)
        {
            <p class="error-message">@item</p>
        }
    </div>
}
<div class="row">
    <div class="col-md-12">        
        <form asp-action="Adicionar" asp-controller="Produto" method="POST" data-ajax="true" data-ajax-mode="replace" data-ajax-update="divListaDeProdutos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
            </div>
            <div class="bottom-row">
                <div class="form-group">
                    <label asp-for="CategoriaId" class="control-label">Categorias</label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.IdCategoria">
                        <option value="">Selecione uma Categoria</option>
                    </select>                    
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input perecivel" asp-for="Perecivel" />Perecível?
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_buscarProdutos" , model="Model.Produtos" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
